* {
  font-family: 'Roboto';
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  color: rgb(23, 137, 236);
 }

.header {
  height: 10vh;
  width: 100vw;
  background-color: rgb(23, 137, 236);
  font-size: 6vh;

  color: white;
  margin-bottom: 30px;
}
.footer {
  height: 6vh;
  width: 100vw;
  background-color: rgb(23, 137, 236);
  font-size: 3vh;
  color: white;
  position: fixed;
  bottom: 0px;

}

.saveButton{
background-color: rgb(23, 137, 236);
color: white;
padding: 10px 30px;
width: 200px;
margin: auto;
margin-bottom: 20px;
}

.cancelButton{
background-color: white;
color: rgb(23, 137, 236);
padding: 10px 30px;
width: 200px;
margin: auto;
}

.flex{
  display: flex;
  flex-direction: column;
}


@media all and (min-width: 768px) {
  * {
    font-size: 32px; } }
